html {
  font-size: 100%;
  overflow-y: scroll;
}
body {
  font-size: 1em;
  margin: 0;
  background-color: #222;
  font-family: sans-serif;
}
[role='banner'] {
}
#leForm {
  background-color: #ddd;
  color: #333;
  position: relative;
}
#leForm ol {
  margin: 0;
  padding: 1em;
  list-style-type: none;
  box-shadow: 0 2px 5px #000;
}
#leForm ol:before,
#leForm ol:after {
  content: '';
  display: table;
}
#leForm ol:after {
  clear: both;
}
#leForm li {
  width: 29%;
  margin: 0 1% 0 0;
  float: left;
}
#leForm label {
  display: block;
  line-height: 1;
  padding: 0 0 .25em 0;
  text-shadow: 0 1px 0 #f7f7f7;
}
#leForm input {
  width: 97%;
  display: block;
}
#leForm button {
  position: absolute;
  right: 1%;
  top: 14%;
  bottom: 14%;
  font-size: 1.1em;
}
[role='main'] {
  padding: 2em 0;
}
#imageBin {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 55em;
}
#memeIsMe {
  width: 100%;
  display: block;
}
#captionTop,
#captionBottom {
  position: absolute;
  left: .5em;
  right: .5em;
  text-align: center;
  font-family: impact, "Arial Black", sans-serif;
  color: #fff;
  font-size: 3em;
  line-height: 1.05;
  text-shadow:  2px  2px #000,
               -2px  2px #000,
                2px -2px #000,
               -2px -2px #000;
}
#captionTop {
  top: .5em;
}
#captionBottom {
  bottom: .5em;
}

/* TODO: also agregar coso coso demotivational poster, onda unos borders negros y la type abajo en times y toda la onda, should provide no problem. Mate */

@media (max-width: 1077px){
  #leForm li {
    width: 27%;
  }
}
@media (max-width: 747px){
  #leForm li {
    float: none;
    width: 77%;
    margin: 0 0 .7em 0;
  }
  #leForm ol {
    padding: .5em;
  }
  #leForm label {
    padding: 0;
  }
  #leForm button {
    font-size: 1em;
  }
  #captionTop,
  #captionBottom {
    font-size: 2.4em;
  }
}
@media (max-width: 497px){
  #leForm li {
    width: 67%;
  }
  #captionTop,
  #captionBottom {
    font-size: 2em;
  }
}
